.conteudo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(77, 190, 255);
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 500px;
    font-weight: bolder;
}
body {
    background-color: rgb(0, 0, 0);
}

#resultado {
    background-color: white;
    color: black;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}