:root
{
    --cor-primaria: rgb(0, 101, 160);
    --cor-secundaria: rgb(77, 190, 255);
}
.conteudo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor-secundaria);
    padding: 20px 30px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 500px;
}

.conteudo h2, .conteudo h3 {
    text-align: center;
    color: white;
}

.conteudo input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

.conteudo button {
    background-color: white;
    color: var(--cor-primaria);
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.lista-itens {
    list-style: none;
    padding: 0;
}

.lista-itens li {
    display: flex;
    justify-content: space-between;
    align-items: center;           
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
}

.apagar {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.apagar:hover {
    background-color: #cc0000;
}