body {
    background-color: black;
    color: white;
}
.title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}
.author {
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

form label, form input, form button {
    display: block;
}
form label {
    margin-top: 10px;
}
form input {
    margin-top: 5px;
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 4px;
}
form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
}

.content {
    background-color: rgb(14, 0, 78);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

#lista-verbetes {
    margin-top: 20px;

}

#lista-verbetes h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
}
#lista-verbetes div {
    max-width: 500px;
    padding: 10px 20px;
    margin: 10px auto;
    align-content: center;
    background-color: rgb(248, 248, 248);
    color: black;
    border-radius: 4px;
}
